In [1]:
primes = [2,3,5,7,11,13] 
basket = [1,['apples',3.45],2,['oranges',4.05], (1,2,3)]

In [3]:
print(primes)

[2, 3, 5, 7, 11, 13]

In [4]:
print(basket)

[1, ['apples', 3.45], 2, ['oranges', 4.05], (1, 2, 3)]

In [5]:
thing = [1,2,3,4,5]
thing.append(6)

In [6]:
thing[2:4]

[3, 4]

In [7]:
basket[3]

['oranges', 4.05]

In [8]:
len(thing)

6

In [13]:
thing.__len__()

6

In [ ]:
def __len__(thing):
    fjhsbkgdkjfg
    return 6

In [14]:
thing.insert(2, 100000)

In [15]:
thing

[1, 2, 100000, 3, 4, 5, 6]

In [16]:
thing2 = sorted(thing)

In [17]:
thing2

[1, 2, 3, 4, 5, 6, 100000]

In [18]:
thing

[1, 2, 100000, 3, 4, 5, 6]

In [19]:
ages = {
    'bob': 13,
    'sam': 41,
    'sally': 40,
    'james': 30
}

In [20]:
ages['sam']

41

In [21]:
ages_list = [['bob', 13], ['sam', 41], ['sally', 40], ['james', 30]]

In [22]:
for i in ages_list:
    if i[0] == 'sam':
        print(i[1])
        break

41

In [23]:
ages['kevin'] = 5

In [24]:
ages

{'bob': 13, 'sam': 41, 'sally': 40, 'james': 30, 'kevin': 5}

In [25]:
ages['sam'] = 100

In [26]:
ages

{'bob': 13, 'sam': 100, 'sally': 40, 'james': 30, 'kevin': 5}

In [28]:
ages['alice']

KeyError: 'alice'

In [30]:
print(ages.get('alice'))

None

In [31]:
ages['alice'] = 13

In [33]:
[i[0] for i in ages.items() if i[1] == 13]

['bob', 'alice']

In [36]:
[i[0] for i in ages.items()]

['bob', 'sam', 'sally', 'james', 'kevin', 'alice']

In [34]:
ages.items()

dict_items([('bob', 13), ('sam', 100), ('sally', 40), ('james', 30), ('kevin', 5), ('alice', 13)])

In [37]:
def hello_world():
    return "Hello world"

In [39]:
print(hello_world())

Hello world

In [40]:
def summation(list_of_nums):
    total = 0
    for i in list_of_nums:
        total += i
        
    return total

In [41]:
print(summation(thing))

100021

In [42]:
big_tuple = (1,2,3,4)

In [43]:
print(big_tuple)

(1, 2, 3, 4)

In [45]:
big_tuple[3] = 1

TypeError: 'tuple' object does not support item assignment

In [48]:
listy_tuple = [big_tuple]

In [49]:
listy_tuple

[(1, 2, 3, 4)]

In [52]:
single_tuple = (1,)

In [53]:
single_tuple

(1,)

In [55]:
print(hello_world)

<function hello_world at 0x105377c80>

In [56]:
tuple_list = ([1,2,3], 5)

In [57]:
tuple_list[0][0] = 100

In [58]:
tuple_list

([100, 2, 3], 5)

In [59]:
tuple_list[0] = 0

TypeError: 'tuple' object does not support item assignment